{{ ansible_managed|comment }}
{% if sinopia_htpasswd is mapping %}
{% for username,password in sinopia_htpasswd.items() %}
{{ username }}:{{ password }}
{% endfor %}
{% else %}
{{ sinopia_htpasswd }}
{% endif %}
